html {
    font-size: 14px;
  }
  
.pricing-header {
  max-width: 700px;
}

.patient-visits-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.patient-visit {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
}

.patient-name {
  font-size: 1.1rem;
}

.modal.show {
    display: block;
}
  
.border-top { 
  border-top: 1px solid #e5e5e5; 
}
.border-bottom { 
  border-bottom: 1px solid #e5e5e5; 
}

.box-shadow { 
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
}

.action-block {
  display: flex;
}

.show-more-patient-info {
  display: inline-block;
  margin-bottom: 10px;
}

.patient-info-item {
  margin-bottom: 7px;
}

.login-form {
  max-width: 300px;
  margin: 0 auto;
}

